<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=contact.name%>'s Personal Website</title>
</head>
<body>
    <h1>Hi, I am <%=contact.name%></h1>
    <nav>
        <a href="/">HOME</a> | 
        <a href="/skills">SKILLS</a> | 
        <a href="/contact">CONTACT</a>
    </nav>
    <%- body %>
</body>
</html>